<%- contentFor('body') %>
    <%- include('../../layouts/sidebar-group.ejs') %>
        <div class="content col-10">
            <!-- Header -->
            <div class="header" room-id="<%= newRoom._id%>">
                <div class="user-section">
                    <span class="user-name">
                        <%= newRoom.roomName %>
                    </span>
                </div>

                <div class="icon-section">
                    <i class="fa fa-user-plus" aria-hidden="true" onclick="showInviteGr()"></i>
                    <i class="fa fa-users" aria-hidden="true" role="button" onclick="showMember()"></i>
                    <i class="fa fa-sign-out" aria-hidden="true" role="button" onclick="outGroup('<%= newRoom._id%>','<%= home%>')"></i>
                </div>
            </div>

            <!-- COntent -->
            <div class="row box-content">
                <!-- col-8 -->
                <div class="chat-area" >

                    <div class="chat-content chat-of-chatejs">
                        <% for (let item of chat) { %>
                            <%if(item.content){%>
                                <%if( user._id == item.sender){%>
                                    <div class="message right">
                                    <div class="bubble">
                                        <%= item.content %>
                                    </div>
                                </div>
                                <%}else{%>
                                    <div class="message left">
                                        <div class="item-content">
                                            <div class="myName"><%= item.myName%></div>
                                            <div class="bubble">
                                                <%= item.content %>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                <%}%>
                                
                                <% } else if(item.images.length>0){%>
                                    <% for(let img of item.images){%>
                                        <div class="message <%= user._id == item.sender ? 'right' : 'left' %>">
                                            <div class="item-content">
                                                <%if(user._id != item.sender){%>
                                                <div class="myName"><%= item.myName%></div>
                                                <%}%>
                                                <div style='max-width: 200px;   
                                                            object-fit: contain;
                                                            padding: 5px;
                                                            '>
                                                <img src="<%= img%>" alt="" style='width:100%;height:100%'>
                                            </div>
                                            </div>
                                            
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <% } %>
                    </div>


                    <form form-chat>
                        <div class="chat-footer">
                            <input id="input-chat" type="text" placeholder="Nhập tin nhắn..."
                                style="flex: 1; padding: 5px;">
                            <div class="custom-file-container" data-upload-id="upload-img"></div>
                            <label for="file-upload-with-preview-upload-img">
                                <i class="fa fa-picture-o" aria-hidden="true" role="button" type="button"></i>
                            </label>
                            <button type="submit">Gửi</button>
                        </div>
                    </form>
                </div>


                <!-- Thông tin hội thoại -->
                <div inf-mem-group class="info-panel col-4 " hidden>
                    <div class="info-header">
                        <h3>Thành viên</h3>
                    </div>
                    <div class="info-content">
                        <% for(let item of newRoom.user) { %>
                            <div class="friend-item-inviteGr">
                                <div class="friend-info" friend-invite-group="<%= item.user_id%>">
                                    <div class="avatar">
                                        <svg class="discord-logo" viewBox="0 0 24 24">
                                        </svg>
                                    </div>
                                    <span class="username">
                                        <%= item.fullName%>
                                    </span>
                                </div>
                        
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>

        </div>
        <%- include('../mixins/inviteFr.ejs')%>