<%- contentFor('body') %>
<%- include('../../layouts/header') %>
        <div class="content col-10">
        <!-- Header -->
        <div class="header">
            <div class="user-section">
            </div>

            <div class="icon-section">
                <div class="avatar" role="button" onclick="showDropdown()">
                    <%if(user.avatar){%>
                        <img src="<%= user.avatar%>" class="img-profile">
                        <%}else{%>
                            <svg class="discord-logo" viewBox="0 0 24 24">
                            </svg>
                          <%}%>
                </div>
                <div class="dropdown-box" hidden>
                    <a class="profile-div" href="<%= home%>/home/profile">Profile</a>
                    <a class="logout" href="<%= home%>/user/logout">Logout</a>
                </div>
    
                
            </div>
        </div>
        
        <!-- COntent -->
        <div class="row box-content">
    
            <div class="chat-area col-12">
    
                <div class="chat-content title-home" >
                    
                        <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                    <p>Welcome to Snap</p>
                
                    
                </div>
            </div>
    
    </div>
    
    
   