<%- contentFor('body') %>
<%- include('../../layouts/header') %>
<div class="container-profile col-10">
  <div class="header-profile"></div>
  
  <div class="profile-section">
    <div class="avatar-container">
      <div class="avatar-profile">
        <%if(user.avatar){%>
        <img src="<%= user.avatar%>" class="img-profile">
        <%}else{%>
          <div class="img-profile"></div>
          <%}%>
      </div>
      <div class="status-indicator" ></div>
    </div>
    
    <div class="username-section">
      <span class="username-profile"><%= user.fullName%></span>
    </div>
    
    <button class="edit-profile-btn" onclick="openEditPro()">Edit User Profile</button>
    
    <div class="profile-details">
      
      <div class="detail-row">
        <div class="detail-label">Username</div>
        <div class="detail-value">
          <%= user.fullName%>
        </div>
      </div>
      
      <div class="detail-row">
        <div class="detail-label">Email</div>
        <div class="detail-value">
          <%= user.email%>        </div>
      </div>
      
      <div class="detail-row">
        <div class="detail-label">Phone Number</div>
        <div class="detail-value">
          <%= user.phone%>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../mixins/editProfile.ejs')%>
