<%- contentFor('body') %>
    <%- include('../../layouts/header') %>
        <div class="content col-10">
            <%- include('../../layouts/header-af.ejs') %>

                <div class="row box-content">

                    <div class="chat-area">

                        <div class="chat-content">
                            <% for(let item of users){ %>
                                <div class="friend-item-inviteGr" style="border-top: 1px solid #454545;" user-friend-all="<%= item._id%>">
                                    <div class="friend-info col-9" friend-invite-group>
                                        <div class="avatar">
                                            <%if(item.avatar){%>
                                                <img src="<%= item.avatar%>" class="img-profile">
                                                <%}else{%>
                                                    <svg class="discord-logo" viewBox="0 0 24 24">
                                                    </svg>
                                                    <%}%>
                                                        <div class="status-indicator2"></div>
                                        </div>
                                        <div class="" style="font-size: 1.1rem;color: white;;">
                                            <span>
                                                <%= item.fullName%>
                                            </span>
                                            <div class="statusFr" style="font-size: 0.9rem;color: #999;">Offline</div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-2" style="
                                                    display: flex;
                                                    justify-content: space-evenly;
                                                    text-align: center;
                                                    align-items: center;
                                                    
                                                ">
                                            <a class="circle-back" role="button"
                                                onclick="chatFr('<%= item._id%>','<%= home%>')">
                                                <i class="fa fa-comment " aria-hidden="true"></i>

                                            </a>
                                            <a class="circle-back" role="button" onclick="deleteFriend()">
                                                <i class="fa fa-user-times" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                </div>
                                <!-- <div class="friend-item" user-friend-all="<%= item._id%>">
                    <div class="row">
                        <i class="fa fa-user col-1" aria-hidden="true"></i>
                        <div class="friend-name col-9">
                            <div class="" style="font-size: 1.1rem;color: white;;"><%= item.fullName%></div>
                            <div class="statusFr" style="font-size: 0.9rem;">Offline</div>
                        </div>
                        <div class="col-2" style="
                        display: flex;
                        justify-content: space-evenly;
                        text-align: center;
                        align-items: center;
                        
                    ">
                            <a  class="circle-back" role="button" onclick="chatFr('<%= item._id%>','<%= home%>')">
                                <i class="fa fa-comment " aria-hidden="true"></i>

                            </a>
                            <a class="circle-back" role="button" onclick="deleteFriend()">
                                <i class="fa fa-user-times" aria-hidden="true"></i>
                            </a>
                            
                        </div>
                    </div>
                </div> -->
                                <%}%>


                        </div>
                    </div>
                </div>



                <!-- Thông tin hội thoại -->

        </div>
        <!-- <script src="/scriptjs/friend.js"></script> -->