<%- contentFor('body') %>
<%- include('../../layouts/header') %>
        <div class="content col-10">
        <!-- Header -->
        <div class="header">
            <div class="user-section" room-id="<%= room_id%>" user2_id="<%= user2._id%>">
                <div class="user-avatar">
                    <%if(user2.avatar){%>
                        <img src="<%= user2.avatar%>" class="img-profile">
                        <%}else{%>
                            <svg class="discord-logo" viewBox="0 0 24 24">
                            </svg>
                          <%}%>
                </div>
                <span class="user-name"><%= user2.fullName %></span>

            </div>

            
        </div>
        
        <!-- COntent -->
        <div class="row box-content">
    
            <div class="chat-area col-8">
    
                <div class="chat-content" >
                    <% for (let item of chat) { %>
                        <%if(item.content){%>
                        <div class="message <%= user._id == item.sender ? 'right' : 'left' %>">
                            <div class="bubble">
                                <%= item.content %>
                                    
                            </div>
                        </div>
                    
                        <% }if(item.images.length>0){ %>
                            <% for(let img of item.images){%>
                                <div class="message <%= user._id == item.sender ? 'right' : 'left' %>">
                                    <div class="item-content">
                                        <%if(user._id != item.sender){%>
                                        <div class="myName"><%= item.myName%></div>
                                        <%}%>
                                        <div style='max-width: 200px;   
                                                    object-fit: contain;
                                                    padding: 5px;
                                                    '>
                                        <img src="<%= img%>" alt="" style='width:100%;height:100%'>
                                    </div>
                                    </div>
                                    
                                </div>
                                <% } %>
                        <% } %>
                        <% } %>
                </div>
    
    
                <form form-chat>
                    <div class="chat-footer">
                        <input id="input-chat" type="text" placeholder="message..."
                            style="flex: 1; padding: 5px;" onclick="removeUnread(`<%= room_id%>`,`<%= home %>/chat`,`<%= user._id %>`)">
                        <div class="custom-file-container" data-upload-id="upload-img"></div>
                        <label for="file-upload-with-preview-upload-img">
                            <i class="fa fa-picture-o" aria-hidden="true" role="button" type="button"></i>
                        </label>
                        <button type="submit" class="button-send-mes">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
    
    
            <!-- Thông tin hội thoại -->
            <div class="info-panel col-4">
                <div class="container-profile">
                    <div class="header-profile" style="height: 136px;"></div>
                    
                    <div class="profile-section" style="background-color: #23272a;">
                      <div class="avatar-container">
                        <div class="avatar-profile">
                          <%if(user2.avatar){%>
                          <img src="<%= user2.avatar%>" class="img-profile">
                          <%}else{%>
                            <div class="img-profile"></div>
                            <%}%>
                        </div>
                      </div>
                      
                      <div class="username-section" style="margin-left: 125px; padding: 0;">
                        <span class="username-profile"><%= user2.fullName%></span>
                      </div>
                              
                    </div>
                  </div>
            </div>
        </div>
    
        <script type="module">
            
          </script>
    </div>
    
    
   