<div class="sidebar col-2">
    <div class="sidebar-header" user_id="<%= user._id %>" >
        <a href="<%= home%>/home" class="logo-header">
            <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
            <span>Snap</span>
        </a>
    </div>
   
        <div class="chat-list">
            <a class="friend-item sidebar-item" href="<%= home%>/chat/chatbot/<%= chatBot._id%>">
                <div class="item" >
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                    <span>Chat Bot</span>
                </div>
            </a>
            <a class="friend-item sidebar-item" href="<%= home%>/social/friends">
                <div class="item" >
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Friends</span>
                </div>
            </a>
            <a class="friend-item sidebar-item" href="<%= home%>/chat/groupChat">
                <div class="item" >
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Groups</span>
                </div>
            </a>
            <span>List of chats</span>
            <div class="parent-chat">
            <% for(let item of room) { %>
                
                <a class="friend-item-inviteGr" href="<%= home %>/chat/roomChat/<%= item._id%>" roomIdHeader="<%= item._id%>">
                    <div class="friend-info" friend-invite-group>
                        <div class="avatar">
                            <%if(item.avatar){%>
                                <img src="<%= item.avatar%>" class="img-profile">
                                <%}else{%>
                                    <svg class="discord-logo" viewBox="0 0 24 24">
                                    </svg>
                                  <%}%>
                                  
                        </div>
                        <span class="username">
                            <%= item.fullName%>
                        </span>
                        <%if(!item.lastMess.another_read && item.lastMess.sender!=user._id){%>
                            <div class="circle-unread"></div>

                              <%}%>
                        
                    </div>
            
                </a>
                <% } %>
        </div>
    </div>
   
</div>